h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-style: italic;
  font-size: 42px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-slider-container {
  transform: scale(1.25);
}

.slider {
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-input {
  width: 100%;
}

.slider-image {
  max-width: 100%;
  max-height: 100%;
}
