body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-input {
  width: 100%;
}

.slider-image {
  max-width: 100%;
  max-height: 100%;
}
